In [67]:
import pandas as pd
import numpy as np
import openpyxl as pt
import re

In [2]:
data_a=pd.read_csv("actuals.csv")
data_t = pd.read_csv("Targets.csv")
data_b = pd.read_csv("B&CR.csv")
data_p = pd.read_csv("Price.csv")

In [3]:
data_a.columns

Index(['Material Description', 'Plant', 'Period', 'Year', 'Amount in LC',
       'Quantity'],
      dtype='object')

In [4]:
data_a.shape

(65065, 6)

In [5]:
data_a.describe()

             Period     Year       Quantity
count  65065.000000  65065.0   65065.000000
mean       8.289849   2022.0     236.057635
std        0.640222      0.0    1887.383152
min        7.000000   2022.0  -83769.000000
25%        8.000000   2022.0      72.000000
50%        8.000000   2022.0     115.000000
75%        9.000000   2022.0     208.000000
max        9.000000   2022.0  217500.000000

In [6]:
data_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65065 entries, 0 to 65064
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Material Description  65064 non-null  object
 1   Plant                 65064 non-null  object
 2   Period                65065 non-null  int64
 3   Year                  65065 non-null  int64
 4   Amount in LC          65065 non-null  object
 5   Quantity              65065 non-null  int64
dtypes: int64(3), object(3)
memory usage: 3.0+ MB

In [7]:
data_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                926 non-null    int64
 1   Period              926 non-null    int64
 2   Plant               226 non-null    object
 3   Material Number     354 non-null    object
 4   Target Value in LC  926 non-null    object
 5   Target Quantity     926 non-null    int64
dtypes: int64(3), object(3)
memory usage: 43.5+ KB

In [8]:
data_t.columns

Index(['Year', 'Period', 'Plant', 'Material Number', 'Target Value in LC',
       'Target Quantity'],
      dtype='object')

In [9]:
data_t.describe()

         Year  Period  Target Quantity
count   926.0   926.0     9.260000e+02
mean   2022.0     7.0     7.767757e+03
std       0.0     0.0     5.486534e+04
min    2022.0     7.0     0.000000e+00
25%    2022.0     7.0     0.000000e+00
50%    2022.0     7.0     0.000000e+00
75%    2022.0     7.0     0.000000e+00
max    2022.0     7.0     1.447485e+06

In [10]:
data_t.shape

(926, 6)

In [11]:
missing_data = data_t.isnull().any(axis=1)

In [12]:
clean_t = data_t[~missing_data]

In [13]:
clean_t

,Year,Period,Plant,Material Number,Target Value in LC,Target Quantity
1,2022,7,AA,A5 lock out tags in Tyvek with a drill H,-,0
2,2022,7,AA,Bottle: 660RB Green Lite,"2,120.87",136
3,2022,7,AA,Bottle: 660RB Green Lite,"1,571,136.54",99475
4,2022,7,AA,Bottle: 750RB Amber Calabash,"5,123.67",362
5,2022,7,AA,Bottle: 750RB Amber Calabash,"3,795,604.18",267214
...,...,...,...,...,...,...
921,2022,7,AG,"ADHESIVE:SUPER GLUE,3G TUBE",-,0
922,2022,7,AG,"BATTERY,DRY CELL:ALKALINE,1.5VDC,AAA,FLA",-,0
923,2022,7,AG,BRUSH PAINT PROFESSIONAL 50mm,-,0
924,2022,7,AG,"TAPE:MASKING,48MM WD,40M LG,PAPER,YELLOW",-,0
925,2022,7,AG,THINNER LACQUER GR A 5L,-,0

In [14]:
row_w_zero = (clean_t== 0).any(axis=1)

In [15]:
clear_t= clean_t[~row_w_zero]

In [16]:
clear_t

,Year,Period,Plant,Material Number,Target Value in LC,Target Quantity
2,2022,7,AA,Bottle: 660RB Green Lite,"2,120.87",136
3,2022,7,AA,Bottle: 660RB Green Lite,"1,571,136.54",99475
4,2022,7,AA,Bottle: 750RB Amber Calabash,"5,123.67",362
5,2022,7,AA,Bottle: 750RB Amber Calabash,"3,795,604.18",267214
6,2022,7,AA,Crate: Brown Quart,"3,867,911.87",267214
...,...,...,...,...,...,...
780,2022,7,AG,Crate: 910ML Red,998.01,70
783,2022,7,AG,Crate: Brown Quart,"1,201,706.18",83012
784,2022,7,AG,Crate: Brown Quart,"2,403.78",168
785,2022,7,AG,Crate: Red Quart,"1,123,267.07",77625
786,2022,7,AG,Crate: Red Quart,"2,246.27",157

In [17]:
data_b.describe()

                        Material Number              Bottle             Crate
count                                74                  61                69
unique                               46                  38                25
top     B&CR: 330RB Amber & Brown Crate  Crate: Brown Quart  Crate: Red Quart
freq                                  2                   5                11

In [18]:
data_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Material Number  74 non-null     object
 1   Bottle           61 non-null     object
 2   Crate            69 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [19]:
data_b.shape

(74, 3)

In [20]:
missing_data = data_b.isnull().any(axis=1)

In [21]:
clean_b = data_b[~missing_data]

In [22]:
clean_b.shape

(56, 3)

In [23]:
data_p.describe()

       Plant                      Material Description  Price per case
count    519                                       519              519
unique     7                                       113               35
top       AG  B&CR: 750RB Amber Calabash & Brown Crate           8.1442
freq      92                                         7              141

In [24]:
data_p.shape

(519, 3)

In [25]:
data_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Plant                 519 non-null    object
 1   Material Description  519 non-null    object
 2    Price per case       519 non-null    object
dtypes: object(3)
memory usage: 12.3+ KB

In [26]:
data_p.columns

Index(['Plant', 'Material Description', ' Price per case '], dtype='object')

In [27]:
data_p.shape

(519, 3)

In [49]:
redundant_rows = data_p.duplicated(subset=['Material Description'])

In [50]:
redundant_rows

0      False
1       True
2       True
3       True
4       True
       ...
514     True
515    False
516    False
517    False
518     True
Length: 519, dtype: bool

In [51]:
filtered_df = data_p[~redundant_rows]

In [52]:
filtered_df

    Plant                      Material Description  Price per case
0      AA  B&CR: 750RB Amber Calabash & Brown Crate          16.0359
7      AA       B&CR: 750RB Green Elite & Red Crate          16.9192
14     AA        B&CR: 660RB Green Lite & Red Crate          16.9192
21     AA       B&CR: 660RB Flint Diva & Blue Crate          16.9192
28     AA        XYX B&CR: 375RB PINT PLASTIC BROWN          23.9358
..    ...                                       ...              ...
507    AA         Keg: 20L Leffe Blond Import Empty         263.2608
511    AA    Keg: 20L Hoegaarden White Import Empty         263.2608
515    AG              XXX Bottle: 660NRB Budweiser           8.8775
516    AG      B&CR: 660NRB Budweiser & Black Crate          16.9192
517    AG                   B&CR: CLT 660ml NRB BIG          29.6525

[113 rows x 3 columns]

In [53]:
filtered_df.shape

(113, 3)

In [54]:
f = data_a.duplicated(subset=['Material Description', 'Plant', 'Period', 'Year', 'Amount in LC',
       'Quantity'])

In [55]:
f

0        False
1        False
2        False
3        False
4        False
         ...
65060    False
65061    False
65062    False
65063     True
65064    False
Length: 65065, dtype: bool

In [56]:
merged = pd.merge(data_a, data_p, on=['Material Description', 'Plant'], how='inner')

In [57]:
merged_data= pd.merge(data_t, data_b, on=['Material Number'], how='inner')

In [58]:
merged

,Material Description,Plant,Period,Year,Amount in LC,Quantity,Price per case
0,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192
1,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,301.32",276,16.9192
2,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"5,806.34",193,16.9192
3,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"8,567.33",285,16.9192
4,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"11,897.03",395,16.9192
...,...,...,...,...,...,...,...
65108,B&CR: 660RB Budweiser & Black Crate,AG,8,2022,"11,227.42",372,25.5442
65109,CRATE: SCRAP RB Plastic Red,AF,9,2022,"43,907.50",3035,8.1442
65110,CRATE: SCRAP RB Plastic Red,AF,9,2022,"12,685.36",878,8.1442
65111,CRATE: SCRAP RB Plastic Red,AF,9,2022,"18,146.39",1255,8.1442
65112,CRATE: SCRAP RB Plastic Red,AF,9,2022,"11,843.18",820,8.1442

In [59]:
merged_data

,Year,Period,Plant,Material Number,Target Value in LC,Target Quantity,Bottle,Crate
0,2022,7,AA,Bottle: 660RB Green Lite,"2,120.87",136,Bottle: 660RB Green Lite,NaN
1,2022,7,AA,Bottle: 660RB Green Lite,"1,571,136.54",99475,Bottle: 660RB Green Lite,NaN
2,2022,7,AA,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
3,2022,7,AA,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
4,2022,7,AD,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
...,...,...,...,...,...,...,...,...
157,2022,7,AG,Crate: 910ML Red,998.01,70,NaN,Crate: 910ML Red
158,2022,7,AG,Crate: 910ML Red,-,0,NaN,Crate: 910ML Red
159,2022,7,AG,Crate: 910ML Red,-,0,NaN,Crate: 910ML Red
160,2022,7,AG,Crate: Black Quart,-,0,NaN,Crate: Black Quart
161,2022,7,AG,Crate: Black Quart,-,0,NaN,Crate: Black Quart

In [72]:
def extract_integers_from_string(string):
    integers = re.findall(r'\d+', string)
    return [int(i) for i in integers]
column_name = 'Bottle'
df = merged_data
for i, element in enumerate(df[column_name]):
    integers = extract_integers_from_string(str(element))
    df.loc[i, column_name] = integers

ValueError: cannot set using a multi-index selection indexer with a different length than the value

,Material Description,Plant,Period,Year,Amount in LC,Quantity,Price per case,Material Number,Target Value in LC,Target Quantity,Bottle,Crate
0,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,"2,120.87",136,Bottle: 660RB Green Lite,NaN
1,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,"1,571,136.54",99475,Bottle: 660RB Green Lite,NaN
2,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
3,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
4,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 750RB Amber Calabash,"5,123.67",362,Bottle: 750RB Amber Calabash,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205701,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,998.01,70,NaN,Crate: 910ML Red
205702,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,-,0,NaN,Crate: 910ML Red
205703,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,-,0,NaN,Crate: 910ML Red
205704,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: Black Quart,-,0,NaN,Crate: Black Quart
205705,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: Black Quart,-,0,NaN,Crate: Black Quart

In [61]:
f = all.duplicated(subset=['Material Description', 'Plant', 'Period', 'Year', 'Amount in LC',
       'Quantity'])

In [62]:
filtered_all= all[~redundant_rows]

In [65]:
filtered_all

,Material Description,Plant,Period,Year,Amount in LC,Quantity,Price per case,Material Number,Target Value in LC,Target Quantity,Bottle,Crate
0,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,"2,120.87",136,Bottle: 660RB Green Lite,NaN
1,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,"1,571,136.54",99475,Bottle: 660RB Green Lite,NaN
2,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 660RB Green Lite,-,0,Bottle: 660RB Green Lite,NaN
4,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 750RB Amber Calabash,"5,123.67",362,Bottle: 750RB Amber Calabash,NaN
5,B&CR: 660RB Green Lite & Red Crate,AA,7,2022,"6,659.40",222,16.9192,Bottle: 750RB Amber Calabash,"3,795,604.18",267214,Bottle: 750RB Amber Calabash,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
205696,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Keg: 50L Empty,-,0,NaN,Keg: 50L Empty
205700,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,"498,875.85",34466,NaN,Crate: 910ML Red
205701,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,998.01,70,NaN,Crate: 910ML Red
205702,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: 910ML Red,-,0,NaN,Crate: 910ML Red
205704,B&CR: 1000RB Amber & 1L Brown Crate,AG,7,2022,"39,613.16",1383,16.0358,Crate: Black Quart,-,0,NaN,Crate: Black Quart

In [71]:
def extract_integers_from_string(string):
    integers = re.findall(r'\d+', string)
    return [int(i) for i in integers]
column_name = 'Bottle'
df = filtered_all
for i, element in enumerate(df[column_name]):
    integers = extract_integers_from_string(str(element))
    df.loc[i, column_name] = integers

C:\Users\Maruthi\anaconda3\lib\site-packages\pandas\core\indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)
<ipython-input-71-b06a5e6ca4b2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[i, column_name] = integers

ValueError: cannot set using a multi-index selection indexer with a different length than the value

In [75]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jun 21 11:25:15 2023

@author: Sharabu.Vamsi
"""


import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

 

OPTIONS = Options()
OPTIONS.add_argument("--incognito")
OPTIONS.add_argument('--disable-infobars')
OPTIONS.add_argument("--start-fullscreen")
OPTIONS.add_argument("--ignore-certificate-errors")
OPTIONS.add_experimental_option("excludeSwitches", ['enable-automation'])
OPTIONS.add_experimental_option('useAutomationExtension', False)
OPTIONS.add_experimental_option(
        'prefs', {
            'credentials_enable_service': False,
            'profile': {
                'password_manager_enabled': False
                }
            }
        )
driver = webdriver.Chrome('chromedriver.exe', options=OPTIONS)


# Gmail account credentials for sending emails
sender_email = "sender@gmail.com"
sender_password = "SenderGmailPassword"
recipient_email = "recipient@gmail.com"

# Function to send email
def send_email(subject, message):
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = recipient_email
    msg['Subject'] = subject
    msg.attach(MIMEText(message, 'plain'))
    
    try:
        server = smtplib.SMTP('smtp.gmail.com', 587)
        server.starttls()
        server.login(sender_email, sender_password)
        server.send_message(msg)
        server.quit()
        print("Email sent successfully!")
    except Exception as e:
        print("Failed to send email.")
        print(e)
        

driver = webdriver.Chrome(ChromeDriverManager().install(), options=OPTIONS)
url = "https://www.linkedin.com/login"
driver.get(url)
linkedin_username,linkedin_password='vcmmguptha@gmail.com','M@ruthimani2003'
email_field = driver.find_element_by_id("username")
email_field.send_keys(linkedin_username)
password_field = driver.find_element_by_id("password")
password_field.send_keys(linkedin_password)
password_field.submit()
##Manual verification
message_xpath = '//*[@id="ember12"]//span[@class="notification-badge__count "]'
notification_xpath = '//*[@id="ember13"]//span[@class="notification-badge__count "]'
messages_count = driver.find_element_by_xpath(message_xpath).text
notification_count = driver.find_element_by_xpath(notification_xpath).text

TypeError: __init__() got multiple values for argument 'options'